/* .wrapper {
  display: flex;
  flex-flow: column;

  width: 100%;
} */
.search-bar_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 150px;
  /* border: 1px solid black; */
}
.image-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(50px, auto);
}
.image-item {
  cursor: pointer;
}
.image-item:nth-child(5n) {
  grid-column-end: span 2;
}
img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-bar {
  /* margin: 0 auto; */
  width: 80%;
  padding: 5px;
}
